<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>scene_1</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript">
		function validation() {
			var name = document.forms["regForm"]["UserName"];               
    		var email = document.forms["regForm"]["email"];    

    		if (name.value == "")                                  
    		{ 
        		window.alert("Please enter your username."); 
        		name.focus(); 
        		return false; 
    		} 
    		if (email.value == "")                                   
    		{ 
        		window.alert("Please enter a valid e-mail address."); 
        		email.focus(); 
        		return false; 
    		} 

    		
    		if(!this.form.checkbox.checked)
			{
    			alert('You must agree to the terms first.');
    			return false;
			}
		}
	</script>
</head>
<body>
	<center>
	<form name="regForm" onsubmit="return validation()" method="post">
		<input type="text" placeholder="UserName "name="UserName"/>*<br><br>
		<input type="email" placeholder="Email" name="email"/>*<br><br>
		<input type="password" placeholder="password(should contain At least one cap,small letter and a digit and also a special char)" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" />*<br><br>
		
		<input type="text" placeholder="Organisation/Company" name="Organisation"/>*<br><br>

		Address:<div ng-app>
					{{ <em>l1</em>}} {{ <em>l2</em> }} {{ <em>l3</em>}}<br><br>
					Line1:<input type="text" ng-model="l1" placeholder="House Number" name=""/>*<br><br>
					
					Line2:<input type="text" ng-model="l2" placeholder="Street Name" name=""/><br><br>
					
					Line3:<input type="text" ng-model="l3" placeholder="City, Postcode" name=""/>*<br><br>
					
					<p>address:{{l1}}{{", "}}{{l2}}{{", "}}{{l3}}</p>

				</div>


		<input type="checkbox" name="checkbox" value="check"/>“I have read and agree to the Privacy Policy”<br><br>
		<input type="submit" name="email_submit" value="submit" onclick="if(!this.form.checkbox.checked){alert('You must agree to the terms first.');return false}"/>
	</form>
	</center>
</body>
</html>
